/* Header.css */
.nav {
  display: flex;
  background-color: #333333;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex; /* Display items in a row */
  margin: 0;
  padding: 0;
  margin-left: auto;
}

.nav-item {
  margin-right: 20px; /* Add spacing between items */
}

.logolink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo {
  width: 80px;
  height: 40px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Update the hovering styles */
nav ul li a {
  color: #f0f0f0;
  text-decoration: none;
  font-size: 18px;
  position: relative;
  transition: color 0.3s; /* Add smooth color transition */
}

nav ul li a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: #ffffff;
  position: absolute;
  left: 0;
  bottom: -8px;
  transition: width 0.3s; /* Add smooth width transition */
}

nav ul li a:hover {
  color: #7d82e9; /* Change color on hover */
}

nav ul li a:hover::after {
  width: 100%;
}
